<h1><%= single_car[:make] %></h1>

<form action="/cars/<%= single_car[:id] %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="make" value="<%= single_car[:make] %>">
  <input type="text" name="model" value="<%= single_car[:model] %>">
  <input type="text" name="color" value="<%= single_car[:color] %>">
  <input type="submit" value="Update Car">
</form>